/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

/* NAVBAR STYLING */

/* .header{
    position: sticky;
    top: 0;
} */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-logo {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.nav-logo img {
	margin-top: 3px;
	height: 50px;
	width: 50px;
	margin-left: 30px;
}
.nav-logo h1 {
	margin: 10px 0px;
	font-size: 2rem;
	font-family: "Solway", serif;
}
.nav-items {
	display: flex;
	flex-direction: row;
}
.nav-lists {
	list-style: none;
	margin: 10px 10px;
	font-size: 1.2rem;
	font-family: "Port Lligat Slab", serif;
	font-weight: bold;
}
.nav-links {
	text-decoration: none;
	padding: 10px 10px;
	color: black;
}
.nav-links:hover {
	color: red;
}
.nav-search {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.nav-search input {
	padding: 5px 5px;
	/* margin-right: 5em; */
	font-size: 1rem;
	outline: none;
	font-family: "Kulim Park", sans-serif;
}
.nav-search button {
	height: 33px;
	width: 30px;
	margin-right: 5em;
}
.nav-search button:hover {
	background-color: red;
	color: white;
}

/* STYLING FOR HOME */

.home::before {
	content: "";
	position: absolute;
	background: url("../img/nav-bg.jpg") no-repeat center center/cover;
	height: 75%;
	width: 100%;
	z-index: -1;
	opacity: 0.3;
}

.home {
	height: 75vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.home-container h1 {
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 2.5rem;
	margin: 35px 0px;
}
.home-container p {
	text-align: center;
	font-size: 1.1rem;
	font-family: "Port Lligat Slab", serif;
	font-weight: bold;
	margin: 0px 1em;
}
.login-link {
	text-decoration: none;
	border: 3px solid black;
	height: 43px;
	padding: 5px 5px;
	font-size: 1.2rem;
	color: black;
	margin: 40px auto;
	width: 10%;
	display: block;
	font-family: "Kulim Park", sans-serif;
	font-weight: bold;
	text-align: center;
	border-radius: 5px;
}
.login-link:hover {
	background-color: red;
	color: white;
}

/* STYLING FOR COURSES-SECTION. */

/* .courses{
     height: 230vh;
} */
.courses-info h1 {
	text-align: center;
	font-size: 2.5rem;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	margin: 20px 0px;
}
.courses-info p {
	text-align: center;
	font-size: 1.3rem;
	font-weight: bold;
	font-family: "Port Lligat Slab", serif;
}
.courses-description {
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
}
.courses-exams {
	border: 3px solid red;
	display: flex;
	background-color: rgb(214, 201, 183);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	width: 60vw;
}
.courses-exams h1 {
	text-align: center;
	font-size: 2rem;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	margin: 10px 10px;
	padding: 5px 5px;
}
.courses-exams p {
	text-align: center;
	font-size: 1.1rem;
	padding: 5px 15px;
	font-weight: bold;
	font-family: "Port Lligat Slab", serif;
}
.course-btn {
	outline: none;
	border: 3px solid black;
	height: 43px;
	padding: 5px 15px;
	display: block;
	margin: 25px auto;
	font-size: 1.2rem;
	color: black;
	font-family: "Kulim Park", sans-serif;
	font-weight: bold;
	text-align: center;
	border-radius: 5px;
}
.course-btn:hover {
	background-color: red;
	color: white;
	cursor: pointer;
}
#exam-jee {
	margin-left: 7em;
	margin-top: 30px;
}
#exam-neet {
	position: relative;
	margin-left: auto;
	margin-top: 10px;
	margin-right: 7em;
}
#exam-kvpy {
	margin-left: 7em;
	margin-top: 10px;
}

/* STYLING OF ACHIEVEMENTS-SECTION */

.acheievements {
	/* height: 120vh; */
	padding-top: 15px;
	background-color: rgb(228, 241, 234);
}
.acheievements-container h1 {
	text-align: center;
	font-size: 2.5rem;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	margin: 20px 10px;
	padding: 5px 5px;
}
.acheievements-container p {
	text-align: center;
	font-size: 1.3rem;
	padding: 5px 15px;
	font-weight: bold;
	font-family: "Port Lligat Slab", serif;
}
.acheievements-banners {
	display: flex;
	justify-content: space-evenly;
}
.achievements-students {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 50px 10px;
	padding: 20px 10px;
}
.achievements-students img {
	height: 100px;
	width: 130px;
}
.achievements-students h1 {
	text-align: center;
	font-size: 1.5rem;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	margin: 10px 10px;
	padding: 5px 5px;
}
.achievements-students span {
	text-align: center;
	font-size: 1.1rem;
	padding: 2px 15px;
	font-weight: bold;
	font-family: "Kulim Park", sans-serif;
}

/* STYLING FOR CONTACT */

.contact-form {
	display: flex;
	justify-content: center;
	padding-top: 10px;
	width: 100vw;
	/* height: 90vh; */
	background-color: rgb(72, 75, 75);
}
.contact {
	margin-bottom: 30px;
	border-radius: 10px;
	width: 60%;
	padding: 0, 2em;
}
.contact h1 {
	font-size: 2.5rem;
	text-align: center;
	font-family: "Roboto", sans-serif;
	margin-bottom: 1.2em;
	color: black;
	margin-top: 0.6em;
}
.contact-box {
	width: 100%;
	height: 35px;
	margin: 30px auto;
	display: flex;
	justify-content: center;
}
.contact-box i {
	margin-top: 10px;
	width: 10px;
	margin-right: 20px;
	color: rgb(5, 3, 3);
}
.contact-box input {
	border: 2px solid white;
	border-radius: 5px;
	outline: none;
	width: 70%;
	padding: 0px 10px;
	font-size: 1.1rem;
	font-family: "Open Sans Condensed", sans-serif;
}
.contact-content {
	font-family: "Port Lligat Slab", serif;
	margin: 16px 0px;
}
.contact-content p {
	font-size: 1.3rem;
	font-weight: bold;
	text-align: center;
	color: orange;
}
.contact-content a {
	color: white;
}
.contact-content a:hover {
	color: red;
}
.btns {
	display: flex;
	flex-direction: column;
	margin: 0px 20px;
	margin-bottom: 20px;
}
.btn {
	font-family: "Kulim Park", sans-serif;
	padding: 3px 3px;
	font-size: 1.3rem;
	width: 50%;
	outline: none;
	font-weight: bold;
	cursor: pointer;
	margin: 15px auto;
	border: 2px solid black;
	border-radius: 6px;
}
.btn:hover {
	background-color: red;
	color: white;
}

/* STYLING OF FOOTER */

.footer {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-family: sans-serif;
	font-size: 1.3rem;
	background-color: black;
}

.burger {
	display: none;
	position: absolute;
	cursor: pointer;
	right: 2%;
	top: 15px;
}
.line {
	width: 35px;
	background-color: black;
	height: 4px;
	margin: 4px 0px;
}

@media only screen and (max-width: 1163px) {
	.navbar {
		transition: all 0.7s ease-out;
		height: 380px;
	}
	.nav-logo img {
		margin-left: 0px;
	}
	.navbar,
	.nav-items {
		background-color: #dbccb8;
		flex-direction: column;
		justify-content: center;
	}
	.nav-items {
		/* margin-left: 100px; */
		text-align: center;
	}
	.nav-search {
		margin-top: 5px;
		/* margin-left: 100px; */
	}
	.nav-search input {
		width: 130px;
		margin-left: 53px;
	}
	.burger {
		display: block;
		position: absolute;
		cursor: pointer;
		right: 5%;
		top: 15px;
	}
	.home-container h1 {
		font-size: 1.5rem;
		padding-top: 5px;
		font-weight: bold;
	}
	p {
		font-size: 1rem;
	}
	span {
		font-size: 1rem;
	}
	.login-link {
		width: 20%;
		margin: 20px auto;
	}
	.courses-description {
		flex-direction: column;
	}
	.courses-description p {
		text-align: justify;
	}
	#exam-jee {
		margin: auto;
		margin-top: 30px;
	}
	#exam-kvpy {
		margin: auto;
	}
	#exam-neet {
		margin-right: auto;
	}
	.courses-exams {
		margin: 15px 15px;
	}
	.acheievements-banners {
		flex-direction: column;
	}
	.achievements-students {
		margin: 10px;
	}
	.courses-info p {
		padding: 0px 8px;
	}
	.contact-box input {
		padding: 0px 0px;
	}
	.h-nav-resp {
		height: 60px;
	}
	.v-class-resp {
		opacity: 0;
	}
}
/* @media screen 
  and (min-width: 1024px) 
  and (max-width: 1366px){
      home::before{
          height: 35%;
      }
      .home{
          height: 35vh;
      }
} */
